# swap files
*.swp

# cmake files
*.cmake

# bin created
bin/

# lib create
lib/

# build created
build/
*/build/

# swo files
*.swo

# CMake creations
CMakeCache.txt
CMakeFiles/
*/CMakeFiles/
Makefile
*/Makefile/

# so file
*.so

# Misc
install_manifest.txt


